<table>
  <tr>
    <th>Nome</th>
    <th>Data</th>
    <th>Período</th>
    <th>Cidade</th>
  </tr>
  <% @cursos.each do |c| %>
    <tr>
      <td><%=c.nome %></td>
      <td><%=c.data %></td>
      <td><%=c.periodo %></td>
      <td><%=c.cidade %></td>
    </tr>
  <% end %>
</table>
